<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Message from: {{chatDetails.from}}">
  <ion-content class="padding">
    <img class="avatarDetails" ng-src="{{chatDetails.avatar}}" >

    <h3>{{chatDetails.subject }}</h3>
    <p>Created at : {{chatDetails.created_at}}</p>
    <p>
      {{chatDetails.content }}
    </p>
  </ion-content>
</ion-view>
