<ion-view view-title="Login">
    <ion-content  >


        <img class="logo-login" ng-src="img/logo/icon.png" alt="">



<div class="loginform">
        <div class="list list-inset">
            <label class="item item-input item-floating-label">
                <span class="input-label">
                    Username
                </span>
                <input type="text" ng-model='username' placeholder="Username">
                </input>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">
                    Password
                </span>
                <input type="password" ng-model='password' placeholder="Password">
                </input>
            </label>


          <label class="item item-input item-select">
            <div class="input-label">
              Login As:
            </div>
            <select  name="singleSelect" ng-model='auth'>
              <option value="student" selected>Student</option>
              <option value="staff" >Staff</option>
            </select>
          </label>
            <button class="button button-block button-assertive" ng-click="onSignInClicked(username,password,auth)">
           Sign in
        </button>
          <!--<input class="button button-block button-positive" type="submit" name="submit" value="Login">-->

        </div>
        </div>



    </ion-content>
</ion-view>
